main {
    font-family: 'Mulish', sans-serif;
}
video{
    align-items: center;
    display: block;
    margin: auto;
    max-width: 80%;
    width: 600px;
}
main section h3 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}
main section img{
    text-align:center;
    margin:auto;
    display:flex;
}