img {
    max-width: 100%;
    height: auto;
  }
figure {
    margin: 0;
}
figure img{
    text-align:center;
    margin:auto;
    display:flex;
    padding: 20px;

}
figure figcaption{
    text-align: center;
    margin: auto;
    padding: 20px 0;
    padding-bottom: 30px;
    margin: 0 20px;
}
.image__article1{
    max-width: 55%;
}