.intro{
    text-align: left;
    padding: 10px;
    margin-left: 15px;
    margin-right: 20px;
}

.tweet{
    text-decoration: white;
    color: white;
}


body .tweet p{
    margin: 20px;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Basic', sans-serif;
}
body a{
    text-decoration: none;
}
.tweet{
    margin-bottom: 40px;
}
.tweet h2{
    color: white;
    font-size: 23px;
    font-family: 'Basic', sans-serif;
}
hr {
    height: 1px;
    background: #000;
    border: none;
    margin-top: 30px;
    margin-bottom: 37px;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    text-decoration: none;
}

.tweet{
    background-color: #1D096B;
    color: #fff;
    text-decoration: none;
}
