:root{
    /* Color styles */
--couleur-typo--bleu: rgba(0, 0, 255, 1);
--couleur-typo---rouge: rgba(221, 0, 0, 1);
--couleur-typo--blanc: rgba(255, 255, 255, 1);
--couleur-typo---noir: rgba(0, 0, 0, 1);
--couleur--dark-khaki: rgba(189, 183, 107, 1);
--couleur--bleu-foncé: rgba(29, 9, 107, 1);
--couleur--bleu-foncé-1: rgba(17, 31, 105, 1);
--couleur--rose: rgba(221, 120, 205, 1);
--couleur--violet-claire: rgba(171, 170, 237, 1);

/* Text-size styles */
/* base size: button (16px) */
--button: 1rem;
--heading-1: 2.19rem;
--heading-2: 1.56rem;
--body1: 1.06rem;
--texte-petit: 1rem;
--menu: 1.62rem;
--titre-intro-article: 1.44rem;
--intro-article: 0.81rem;
--footer: 0.94rem;
--header: 1rem;
}