*{
    box-sizing: border-box;
}
body a{
    text-decoration: none;
}
.tweet__titre{
    text-align: center;
}
.fig__art{
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.text__art{
    margin: 1.25rem;
    font-family:'Mulish', sans-serif ;
    font-size: 1.05rem;
}

.espace__tweet{
    margin-top: -1px;
    background-color: #111F69;
    font-size: 2rem;
    font-family: 'Tinos', serif;
    color: white;
    padding: 20px;
    padding-right: 40px;
    box-shadow: 6px 5px 6px #000;
}
/* galerie css*/
.galerie{
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-size: var(--heading-2) ;
    margin-top: 20px;
}
.img__gal{
    text-align:center;
    margin:auto;
    display:flex;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    max-width: 80%;
}
.text__gal{
    margin: 0 1.25rem;
    font-family: 'Mulish', sans-serif;
}
.trait{
    font-size: var(--body1);
    border-bottom: 1px solid black;
    height: 7.188rem;
    margin-bottom: 3.125rem;
}
/* contact*/
.text__contact{
    margin: 25px;
    font-family:'Mulish', sans-serif ;
    font-size: 1.063rem ;
    line-height: 165%;
}

.bu__foot{
    
    background-color: #111F69 ;
    color: white;
    font-family:'Mulish', sans-serif;
    font-size: 1rem;
    width: 290px;
    border: 10;
    line-height: 2.5;
    padding: 0 20px;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 60px;
    margin-top: 20px;
}
.bu__a{
    text-align: center;
}

.text__formulaire{
    margin: 30px;

}
.formulaire{
    margin: 30px;
    border-radius: 15px;
    line-height: 1.5;
    width: 285px;
}
.chapmont{
    margin-bottom: -8px;
}
.champsobli{
    margin-left: 28px;
}
/*  glossaire*/ 
.glossaire{
    margin: 30px;
}
.mots{
    margin-bottom: 15px;
}
dt, strong{
    margin-top: 20px;
}

/*article*/
article a{
    color: var(--couleur-typo--bleu);
}


/**/
.espace__titre{
    text-align: center;
    margin-top: -1px;
    box-shadow: 6px 5px 6px #000;
    margin-bottom: 40px;

}
/* autre projet */

.descriptif{
    color: #707070;
    font-size: 1.2rem;
}
.descriptif span {
    margin-left: 150px;
    display: block;
    margin-bottom: 135px;
}
.descriptif {
    clear: both;
}
.descriptif img {
    float: left;
}

/**/
.image__article{
    width: 100px;
    height: 100px;
}
.depla{
    margin-left: -10px;
}
.depla1{
    margin-right: 0px;
    margin-top: -150px;
}
.centre{
    margin: 1.25rem 6.5rem;
}

.dwon{
    margin-bottom: 4rem;
}
