footer{
    box-sizing: border-box;
    background-color: #1D096B;
    color: #fff;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    box-shadow: 0 -2px 15px 1px rgb(0 0 0 / 80%);
}
footer{
    padding: 10px;
    top: 10px;
}
.underline{
    text-decoration: underline;
    color: white;
}
footer p {
    margin-bottom: 20px;
}
footer a img{
    width: 24px;
    height: 24px;
}
.footer__espace{
    border: none;
    height: 8px;
}
.MMI{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
