*{
    box-sizing: border-box;
}
header {
    background-color: #1D096B;
    display: flex;

}
.titre__site{
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    color: var(--couleur-typo--blanc);;
    text-decoration: none;
}
.titre__site__web{
    text-align: center;
    margin: auto;
    display: flex;
    padding-right: 45px;
}
.logo{
    margin-left: 0px;
    margin-top: 0px;
}