/*header h3 a {
    text-decoration: none;
    color: var(--couleur-typo--blanc);
}*/
*{
    box-sizing: border-box;
}
header {
    background-color: #1D096B;
    display: flex;

}

/*header h3 {
    margin-top: 35px;
    margin-left: 30px;
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    color: var(--couleur-typo--blanc);;
    display: flex;
}*/
.titre__site{
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    color: var(--couleur-typo--blanc);;
    display: flex;
    text-decoration: none;
}

