.styled {
    border: 0;
    line-height: 2.5;
    padding: 10px 1.25rem;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    color: var(--couleur-typo---noir);
    text-shadow: 1px 1px 1px var(--couleur-typo---noir);
    border-radius: 10px;
    background-color: var(--couleur--rose);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color:#bb78CD;;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.styled__page {
    border: 0;
    line-height: 1.5;
    padding: 0 10px;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px var(--couleur-typo---noir);
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    background-color: #111F69;;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.linhe{
    line-height: 2.9;
}

.styled__page:hover {
    background-color:#1D096B;;
}

.styled__page:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.tweet__btn{
    text-align: center;
    margin: auto;  
    padding-bottom: 15px;
}
.btn__back{
    text-align:center;
    margin:auto;
    display:flex;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.position__btn{
    display: flex;
    gap: 1.875rem;
    margin: 0 1.25rem;
}
.position__btn0{
    display: flex;
    gap: 2.188rem;
    margin: 0 1.25rem;
}
.styled__page0 {
    border: 0;
    line-height: 3;
    padding: 0 2.5rem;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px var(--couleur-typo---noir);
    border-radius: 0.625rem;
    margin-bottom: 0.938rem;
    display: block;
    background-color: #111F69;;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled__page0:hover {
    background-color:#1D096B;;
}

.styled__page0:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.btn{
    padding: 0 0.4rem;
}
