.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    color: #000;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #DD78CD;;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color:#bb78CD;;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.styled__page {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    background-color: #111F69;;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled__page:hover {
    background-color:#1D096B;;
}

.styled__page:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.btn{
    margin: 15px;
}
.tweet__btn{
    text-align: center;   
}
.btn__back{
    text-align:center;
    margin:auto;
    display:flex;
    margin-top: 30px;
    margin-bottom: 30px;
}