
mixin tablet-and-up {
    @media screen and (min-width: 769px) { @content; }
}
mixin mobile-and-up {
    @media screen and (min-width: 601px) { @content; }
}
mixin tablet-and-down  {
    @media screen and (max-width: 768px) { @content; }
}
mixin mobile-only {
    @media screen and (max-width: 600px) { @content; }
}


ul, li{
  list-style: none;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin-top: -35px;
}
.wrapper{
  background: #fff;
  padding: 2rem;

}
.sessions{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
.trait__time{
  padding-bottom: 1.5rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  }
.trait__time:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
}
.text__time{
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;

}
.titre__time{
	color: #f00;
	font-weight: 700;
	font-size: 1.125rem;
}
.traits{
  padding-bottom: 1.5rem;
  border-left: 1px dashed #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}
em{
  margin-left: -15px;
}
.triangle-down {
	width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  margin-left: -13px;
  border-color: #abaaed transparent transparent transparent;
}
