@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url("vendors/normalize.css");

@import url('utils/variables.css');

@import url('base/icons.css');
@import url('base/main.css');
@import url('base/media.css');
@import url('components/menu.css');

/*  */
@import url('layout/header.css');
@import url('layout/footer.css');
@import url('components/button.css');
@import url('utils/index.css');
@import url('utils/form.css');
@import url('layout/body.css');
@import url('components/timeline.css');



/*
font-family: 'Tinos', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Yaldevi', sans-serif;
font-family: 'Basic', sans-serif;